.grid-one{
  background-color: rgb(214, 129, 129);
}
.grid-two{
  background-color: rgb(160, 234, 70);
}
.grid-three{
  background-color: rgb(86, 141, 203);
}
.grid-four{
  background-color: rgb(133, 62, 127);
}

