<div class="container">
  <!-- Cards with media area -->
  <mat-card class="example-card">
    <mat-card-content> Employees </mat-card-content>
  </mat-card>

  <mat-form-field>
    <mat-label>Search Employee</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Saurabh"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="Fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</th>
        <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="JobTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>JobTitle</th>
        <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let element">{{ element.imageUrl }}</td>
      </ng-container>

      <ng-container matColumnDef="EmployeeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EmployeeCode</th>
        <td mat-cell *matCellDef="let element">{{ element.employeeCode }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            actions
        </th>
        <td mat-cell *matCellDef="let aliasesData">
            <button class="edit" mat-raised-button>Edit</button>
            <button class="delete" mat-raised-button>Delete</button>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
