<nav class="nav-side">
  <ul>
   <a routerLink="/home"><span class="material-symbols-outlined icon-nav">
      home
      </span>Home</a>
   <a routerLink="/home/me"><span class="material-symbols-outlined icon-nav">
      person
      </span>Me</a>
   <a routerLink="/home/myteam"><span class="material-symbols-outlined icon-nav">
      group
      </span>My Team</a>
   <a routerLink="/home/employees"><span class="material-symbols-outlined icon-nav">
      badge
      </span>Employees</a>
  </ul>

</nav>
<div>
</div>
